<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="service">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Examples</title>
<script type="text/javascript" src="../js/library/angular.js"></script>
<script type="text/javascript" src="registerController.js"></script>
<script type="text/javascript" src="registerService.js"></script>
</head>
<body>


<div class="body-wrapper" ng-controller="serviceController">
	<div class="register-wrapper">
		<form name="registerForm" novalidate>
			<div class="personal-details-wrapper">
				<span>Name: <input type="text" ng-model="register.name"/></span>
				<span>Email: <input type="email" ng-model="register.email" name="regEmail" /></span>
				<span>Password: <input type="password" ng-model="register.password" name="regPassword" /></span>
				<span>Confirm Password: <input type="password" ng-model="register.cpassword" name="regCPassword" /></span>
				<span>Age: <input type="text" ng-model="register.age" /></span>
				<span>Phone: <input type="text" ng-model="register.phone" /></span>
			</div>
			<div class="personal-image-wrapper">
				<span>Image: <input type="file" ng-model="register.img" /></span>
			</div>
			<div class="personal-service-wrapper">
				<ul>
					<li ng-click="toggleService(cource)" ng-repeat="cource in cources" ng-class="{active:cource.active}">{{cource.name}}<span>${{cource.price}}</span></li>
					<li>Total <span>{{total() | currency}}</span></li>
				</ul>
			</div>
			<div class="reg-button-wrapper">
				<input type="button" value="Register" ng-click="clickRegister()" ng-disabled="registerForm.$invalid">
			</div>
		</form>
	</div>
</div>
<link rel="stylesheet" type="text/css" href="../css/register/style.css"  />



</body>
</html>