<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="service">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Examples</title>
<script type="text/javascript" src="../js/library/angular.js"></script>
<script type="text/javascript" src="../js/register/app.js"></script>
</head>
<body>


<div class="body-wrapper" ng-controller="serviceController">
	<div class="register-wrapper">
		<form name="registerForm" novalidate>
			<div class="personal-details-wrapper">
				<span>Name: <input type="text" ng-model="regName" ng-pattern="[a-zA-Z]"/></span>
				<span>Age: <input type="text" ng-model="regAge" /></span>
				<span>Email: <input type="email" ng-model="regEmail" name="regEmail" /></span>
				<span>Phone: <input type="text" ng-model="regPhone" /></span>
			</div>
			<div class="personal-image-wrapper">
				<span>Image: <input type="file" ng-model="regImage" /></span>
			</div>
			<div class="personal-service-wrapper">
				<ul>
					<li ng-click="toggleService(service)" ng-repeat="service in services" ng-class="{active:service.active}">{{service.name}}<span>${{service.price}}</span></li>
					<li>Total <span>{{total() | currency}}</span></li>{{alert()}}
				</ul>
			</div>
			<div class="reg-button-wrapper">
				<input type="button" value="Add Service" ng-click="addSelectedService()" ng-disabled="registerForm.$invalid">
			</div>
		</form>
	</div>
	<span ng-include="'service-display-tables.html'"></span>

</div>
<link rel="stylesheet" type="text/css" href="../css/register/style.css"  />



</body>
</html>