<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="examples">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Examples</title>
<script type="text/javascript" src="../assets/angular.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</head>
<body>

<div class="float-wrapper">Example: Counter</div>
<div ng-controller="exampleController">
	<input type="button" ng-click="counter()" value="Click to inc">
	<span class="counter-value">{{counterVal}}</span>
</div>



<div class="seperator">
	<div class="float-wrapper">Example: Repeat</div>
	<div ng-controller="exampleRepeatController">

		<input type="text" ng-model="name">
		<input type="text" ng-model="age">
		<div class="float-wrapper">
			<input type="button" ng-click="addDetails()" value="Add Details">
			<input type="button" ng-click="toggle()" value="Show/Hide">
		</div>	
		<div ng-show="activeMessage" class="message">{{message}}</div>
		<table ng-show="activeTable">
			<tr ng-repeat="detail in details">
				<td>{{detail.name}}</td>
				<td>{{detail.age}}</td>
				<td class="remove-class"><a ng-click="removeDetails(detail)">Remove</a></td>
				
			</tr>
		</table>
	</div>
</div>


<div class="seperator"></div>
<div class="float-wrapper">Example: Add Form Details</div>
<div ng-controller="exampleFormController">

	<input type="text" ng-model="name">
	<input type="text" ng-model="age">

	<select ng-model="grade">
	    <option value="0" selected="selected">---Select Grade---</option>
		<option value="A">A</option>
		<option value="B">B</option>
		<option value="C">C</option>
		<option value="D">D</option>
	</select>
	<div class="float-wrapper">
		Reccuring:<input type="radio" ng-model="type" value="Reccuring">
		Non Reccuring:<input type="radio" ng-model="type" value="Non Reccuring">
	</div>
	<input type="button" ng-click="addFormDetails()" value="Add Details">
	<input type="button" ng-click="toggle()" value="Show/Hide">
	<div ng-show="activeMessage">{{message}}</div>
	<table>
		<tr ng-repeat="detail in formDetails">
			<td>{{detail.name}}</td>
			<td>{{detail.age}}</td>
			<td>{{detail.grade}}</td>
			<td>{{detail.type}}</td>
			<td class="remove-class"><a ng-click="remove(detail)">Remove</a></td>
			
		</tr>
	</table>
</div>

<link rel="stylesheet" type="text/css" href="css/style.css"  />
</body>
</html>