@CHARSET "UTF-8";
body{
	font-family: arial;
}

.service-wrapper {
    background-color: #61a1bc;
    border-radius: 2px;
    box-shadow: 0 1px 1px #ccc;
    margin: 50px auto;
    padding: 35px 60px;
    width: 400px;
}
.service-wrapper ul li {
    background-color: #e35885;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 8px;
    padding: 20px 30px;
}
.service-wrapper ul {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    list-style: outside none none;
    margin: 20px 0 15px;
    text-align: left;
    padding-left: 0;
}
.service-wrapper ul li span{
    float: right;
}
.service-wrapper ul li.active{
    background-color:#8ec16d;
}